<!-- mahasiswa_template.html -->
<!DOCTYPE html>
<html>

<head>
   <title>Mahasiswa Page</title>
</head>

<body>
   <h1>Mahasiswa Data</h1>

   {% if latest_data %}
   <ul>
      {% for data in latest_data %}
      <li>
         Nama: {{ data.nama }}<br>
         NIM: {{ data.nim }}<br>
         Jurusan: {{ data.jurusan }}<br>
         Lokasi: {{ data.lokasi }}<br>
         Foto Hadir: <img src="{{ data.foto_hadir.url }}" alt="Foto Hadir">
      </li>
      {% endfor %}
   </ul>
   {% else %}
   <p>No data available.</p>
   {% endif %}
</body>

</html>