{% extends "base.html" %}
{% load static %}

{% block title %}
{{title}}
{% endblock title %}

{% block css %}
{% include "form/mahasiswa/css.html" %}
{% endblock css %}

{% block isi %}

<body class="hold-transition login-page">
   <div class="login-box">
      {% for link, title in heading %}
      <div class="login-logo">
         <a href="{{link}}">{{title}}</a>
      </div>
      {% endfor %}
      <!-- /.login-logo -->
      <div class="card">
         <div class="card-body login-card-body">
            {% include "form/mahasiswa/index.html" %}
         </div>
         <!-- /.login-card-body -->
      </div>
   </div>
   <!-- /.login-box -->

   {% include "form/mahasiswa/script.html" %}
</body>
{% endblock isi %}